tensorflow==2.17.0
tensorflow-metal; sys_platform == "darwin"
requests>=2.31.0,<3.0.0
pandas
dvc
mlflow==2.19.0
dagshub
python-dotenv
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.4
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
kaggle==1.6.17
-e .


